$primaryColor: #9356DC ;
$secondaryColor: #FF79DA ;
$thirdColor: #99E2D0 ;
$backgroundColor: #f6f6f6;
$backgroundColor2: #353535;

footer{
    padding-block: 1.38rem;
    padding-inline: 10%;
    background-color: $backgroundColor2;
    color: white;
    @media (min-width: 1024px) {
        position: relative;
        p{
            display: inline-block;
            margin-inline: 10px;
        }

        .footer__logo{
            position: absolute;
            Right: 40px;
        }
        
       
        .footer__links{
            display: flex;
            flex-direction: row;
            justify-content:right;
            margin-right: 50px;
           
         
        }

    }
    & h3{
        font-family: "Shrikhand" ;
        font-size: 1.125rem;
        font-weight: 400;
    }
    & i{
        margin-right: 0.69rem;
    }
    & p{
        font-size: 1rem;
        font-weight: 500;
    }
    & a{
        color: white;
    }
    
}
